@page
@model FoodWeb.Pages.Admin.ShowTestimonialModel
@{
}
<div class="row justify-content-center">
    <div class="justify-content-center col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Review</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Image</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.testimonial)
                {
                    <tr>
                        <th scope="row">@item.id</th>
                        <td>@item.Name</td>
                        <td>@item.Review</td>
                        <td>@item.Designation</td>
                        <td>@item.Image</td>
                        <td>
                            <a class="btn btn-success" asp-page="UpdateBreakfast" asp-route-id="@item.id">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>